<!DOCTYPE html>
<html>
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TaskUser</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Majestic Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>


<div class="container-scroller">

    @await Html.PartialAsync("_CkeckUserPartial")

    <div class="row">
        <div class="col-2">
            @await Html.PartialAsync("_SibaPartial")
        </div>
        <div class="col-md-10" style="padding-top: 90px">
            <div class="container-fuld">@RenderBody()</div>
        </div>
    </div>
</div>





@* <div class="container-fuld"> *@
@*   <partial name="_CookieConsentPartial"/> *@
@*   <main role="main" class="pb-3 conten"> *@
@*     @RenderBody() *@
@*   </main> *@
@* </div> *@

<footer class="border-top footer text-muted">
    <div class="container">

        &copy; 2019 - Trần Văn Lộc - Đại Học Phú Xuân Huế
    </div>
</footer>
    
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<!-- endinject -->
<!-- plugins:js -->
<script src="~/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="~/vendors/chart.js/Chart.min.js"></script>
<script src="~/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="~/js/off-canvas.js"></script>
<script src="~/js/hoverable-collapse.js"></script>
@* <script src="~/js/template.js"></script> *@
<!-- endinject -->
<!-- Custom js for this page-->
<script src="~/js/dashboard.js"></script>
<script src="~/js/data-table.js"></script>
<script src="~/js/jquery.dataTables.js"></script>
<script src="~/js/dataTables.bootstrap4.js"></script>
<!-- End custom js for this page-->
<script src="~/js/site.js" asp-append-version="true" defer></script>
@RenderSection("Scripts", required: false)
</body>
</html>