<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"] - TaskUser</title>

 
</head>
<body>

<a class="nav-link" data-toggle="collapse" href="#language" aria-expanded="false" aria-controls="language">
  <i class="mdi mdi-web menu-icon"></i>
  @* <span class="menu-title">@Localizer["Language"]</span>  *@
  <i class="menu-arrow"></i>
</a>
<div class="collapse" id="language">
  <ul class="nav flex-column sub-menu">
    <li class="nav-item"> 
      @await Html.PartialAsync("../User/SelectLanguagePartial")
    </li> 
 
  </ul>
</div>

@RenderBody()

@RenderSection("Scripts", required: false)
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<!-- endinject -->
<!-- plugins:js -->
<script src="~/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="~/vendors/chart.js/Chart.min.js"></script>
<script src="~/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="~/js/off-canvas.js"></script>
<script src="~/js/hoverable-collapse.js"></script>
@* <script src="~/js/template.js"></script> *@
<!-- endinject -->
<!-- Custom js for this page-->
<script src="~/js/dashboard.js"></script>
<script src="~/js/data-table.js"></script>
<script src="~/js/jquery.dataTables.js"></script>
<script src="~/js/dataTables.bootstrap4.js"></script>
</html>
